.App {
  max-width: 800px;
  margin: 0 auto;
}
.Form {
  margin: 15px
}

.inputFeedback {
  padding: 5px
}

.App-nav {
  margin: 20px;
  padding: 18px;
  border-bottom: 2px solid #508fca;
}

.App-nav ul {
  padding: 0;
  margin: 0;
}

.App-nav button {
  font-size: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.App-nav-item {
  list-style: none;
  display: inline-block;
  margin-right: 32px;
  font-size: 24px;
  border-bottom: 4px solid transparent;
}

.App-nav-item button:hover {
  color: #999999;
}

.App-nav-item.selected {
  border-bottom-color: #ffaa3f; 
}


.App-content {
  margin: 0 20px;
}

.contact {
  margin: 15px;
}

.contact-name {
  padding-bottom: 2px
}  

.contact-delete {
  margin-top: 5px;
}

button {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  display: inline-block;
  position: relative;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
